body{
    background: #2C2F33;
}
.full-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2a9df4;
    border-radius: 6px;
    height: 100vh;
    width: 100%;
   
}

.form-container{
    background: #2C2F33;
    width: 25%;
    border-radius: 20px; 
    margin: 8px;
    height: 250px;
    width: 25%;
}

.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: white;
    font-family: monospace;
    font-size: 1.5rem;
    margin-top: 30px;
    width: 100%;
}

.form-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

#password{
    border-radius: 6px;
    font: monospace;
    border: 2px solid #2C2F33;
    width: 110px;
    height: 30px;
    background: #222427;
    color: white;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.button{
    padding-left: 7px;
}

#btn{
    border-radius: 6px;
    font: monospace;
    border: 2px solid #2C2F33;
    width: 45px;
    height: 33px;
    background: #0aa32b;
    color: white;
    cursor: pointer;
}

/*footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: 40px;

}*/

@media screen and (max-width: 708px){
    .form-container{
        background: #bb0fca;
        width: 25%;
        border-radius: 20px; 
        margin: 8px;
        height: 250px;
    }
    .contact-form{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        color: white;
        font-family: monospace;
        font-size: 1.5rem;
        margin-top: 30px;
        width: 100%;
    }

    .secured-page{
       
    }
    
    .form-div{
        display: block;
        
        height: 80px;
    }

    .form-innerdiv{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 10px;

    }
    
    #password{
        border-radius: 6px;
        font: monospace;
        border: 2px solid #2C2F33;
        width: 110px;
        height: 30px;
        background: #222427;
        color: white;
        border-radius: 8px;
        width: 40%;
        outline: none;
    }
    
    .button{
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    #btn{
        border-radius: 6px;
        font: monospace;
        border: 2px solid #2C2F33;
        width: 45px;
        height: 33px;
        background: #0aa32b;
        color: white;
        cursor: pointer;
    }

}
